.board {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: black;
}

.controls {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.control__btn {
  padding: 6px;
  border: 1px solid black;
  color: grey;
  border-radius: 4px;
  font-size: 16px;
}
